# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default adding the desktop team to review any changes
*           @status-im/desktop
Makefile    @status-im/devops @status-im/desktop

# Any change in the ci requires approval from DevOps team
/ci/        @status-im/devops
/nix/       @status-im/devops
/scripts/   @status-im/devops
# Default qml/js code reviewers
*.qml       @status-im/desktop-wallet @status-im/desktop-core
*.js        @status-im/desktop-wallet @status-im/desktop-core
/storybook/ @status-im/desktop-wallet @status-im/desktop-core
# Default squish tests owners
/test/e2e/  @status-im/desktop-qa

# Nim code reviewers
/src/       @status-im/desktop-wallet @status-im/desktop-core