# shellcheck shell=bash
# vim: ft=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.2.0/direnvrc" "sha256-hW6NC1JHue3IjZN3uDM6l6I2PMaauqd2D7hXYJ1Zfr4="
fi

export DIRENV_WARN_TIMEOUT=20s
export NIX_CONFIG="include ${PWD}/nix/nix.conf"

watch_dir nix
use flake
