[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
	branch = master
[submodule "vendor/QR-Code-generator"]
	path = vendor/QR-Code-generator
	url = https://github.com/status-im/QR-Code-generator
[submodule "vendor/fcitx5-qt"]
	path = vendor/fcitx5-qt
	url = https://github.com/fcitx/fcitx5-qt
[submodule "vendor/SortFilterProxyModel"]
	path = vendor/SortFilterProxyModel
	url = https://github.com/status-im/SortFilterProxyModel.git
[submodule "mobile/vendors/openssl"]
	path = mobile/vendors/openssl
	url = https://github.com/openssl/openssl
[submodule "vendor/nim-seaqt"]
	path = vendor/nim-seaqt
	url = https://github.com/seaqt/nim-seaqt.git
	branch = qt-6.8
[submodule "vendor/nimqml-seaqt"]
	path = vendor/nimqml-seaqt
	url = https://github.com/seaqt/nimqml-seaqt.git
[submodule "vendor/prl-to-pc"]
	path = vendor/prl-to-pc
	url = https://github.com/status-im/prl-to-pc.git
