[submodule "vendor/QR-Code-generator"]
	path = vendor/QR-Code-generator
	url = https://github.com/status-im/QR-Code-generator
[submodule "vendor/fcitx5-qt"]
	path = vendor/fcitx5-qt
	url = https://github.com/fcitx/fcitx5-qt
[submodule "vendor/SortFilterProxyModel"]
	path = vendor/SortFilterProxyModel
	url = https://github.com/status-im/SortFilterProxyModel.git
[submodule "mobile/vendors/openssl"]
	path = mobile/vendors/openssl
	url = https://github.com/openssl/openssl
